body {
    background: linear-gradient(to right, #6a3093, #a044ff, #6d35a5);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;

}